.searchInput {
  min-width: 20rem;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid dimgray;
  &:hover {
    padding: 10px 17px;
  }
}

.crossBtn {
  position: relative;
  vertical-align: middle;
  right: 35px;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.crossIcon {
  &:hover {
    font-size: 1.5rem;
    margin-right: 5px;
  }
}